.weather-widget {
  box-shadow: 0.2em 0.2em 0.4em grey;
  max-width: 300px;
  padding: 1rem;
  margin: 1rem auto;

  .weather-container {
    display: flex;

    .weather-infos {
      width: 100%;

        .weather-city {
          font-size: 1.5em;
          margin: 0;
        }
    }

    .weather-temperature {
      text-align: right;
      font-size: 3em;
      margin: 0;
    }
  }
}

// === Edit here to change background color values ===
// Temperature over 32°C (89,6°F)
#high5 {
  background-color: #FBC4B4;
}
// Temperature between 32°C (89,6°F) and 30°C (86,0°F)
#high4 {
  background-color: #FFDCAA;
}
// Temperature between 29°C (84,2°F) and 27°C (80,6°F)
#high3 {
  background-color: #FEEAAE;
}
// Temperature between 26°C (78,8°F) and 24°C (75,2°F)
#high2 {
  background-color: #FBF9C1;
}
// Temperature between 23°C (73,4°F) and 21°C (69,8°F)
#high1 {
  background-color: #E9EFBD;
}
// Temperature between 20°C (68,0°F) and 18°C (64,4°F)
#medium5 {
  background-color: #D2E8C5;
}
// Temperature between 17°C (62,6°F) and 15°C (59,0°F)
#medium4 {
  background-color: #BCE1C5;
}
// Temperature between 14°C (57,2°F) and 12°C (53,6°F)
#medium3 {
  background-color: #A1DBD6;
}
// Temperature between 11°C (51,8°F) and 9°C (48,2°F)
#medium2 {
  background-color: #A5DDE3;
}
// Temperature between 8°C (46,4°F) and 6°C (42,8°F)
#medium1 {
  background-color: #A3DFF6;
}
// Temperature between 5°C (41,0°F) and 3°C (37,4°F)
#low5 {
  background-color: #ABD7F1;
}
// Temperature between 2°C (35,6°F) and 0°C (32,0°F)
#low4 {
  background-color: #B8BFE4;
}
// Temperature between -1°C (30,2°F) and -3°C (26,6°F)
#low3 {
  background-color: #C6BADB;
}
// Temperature between -4°C (24,8°F) and -6°C (21,2°F)
#low2 {
  background-color: #D7B4D5;
}
// Temperature equal or less than -7°C (19,4°F)
#low1 {
  background-color: #BB98C4;
}